.BtnPanel {
  margin-top: 78px;
}

p.Error {
  font-size: 14px;
  line-height: 18px;
}

p + .BtnPanel {
  margin-top: 23px;
}

@media (max-width: 640px) {
  .BtnPanel {
    button {
      display: block;
      width: 100%;
      margin: 0;
    }

    button + button {
      margin-top: 9px;
    }
  }
}
