.AuthPage
  .AuthPage-main
    .AuthPage-header(auth-header)
    .AuthPage-content
      router-outlet
  .AuthPage-picture(
    [class.AuthPage-picture--login]='url === "/auth/login"',
    [class.AuthPage-picture--restore]='url === "/auth/restore"',
    [class.AuthPage-picture--register]='url === "/auth/registration"')
