@import 'variables';
@import 'normalize';
@import 'type';
@import 'utilities';
@import 'fonts';
@import 'icons';
@import 'form';
@import 'btns';
@import 'material';
@import 'materialUI/tabs';
@import 'materialUI/btns';
@import 'materialUI/btnToggleGroup';
@import 'materialUI/ripple';
@import 'materialUI/formFields';
@import 'materialUI/radio';
@import 'materialUI/checkbox';
@import 'materialUI/autocomplete';
@import 'materialUI/chip';
@import 'materialUI/select';
@import 'materialUI/badge';
@import 'materialUI/slider';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $white;
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.B2BF,
.B2BF > div:last-child{
  min-height: 100%;
}

.B2BF,
.B2BF > div:last-child,
.Workplace,
.Workplace > div:last-child {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.Workplace {
  min-width: 1280px;
  width: 100%;

  &-header {
    flex: 0 0 64px;
  }

  &-content {
    display: flex;
    flex: 1 1 auto;
    min-height: 100%;
  }

  &-sidebar {
    flex: 0 0 30%;
    background: $grey-light;
  }

  &-main {
    flex: 0 0 70%;
    padding: 12px 27px 12px 11px;
  }
}
