@import '../../../../../styles/variables';

.Thead {
  display: flex;
  border-bottom: 1px solid $grey-dark;
  font-size: 13px;

  &-groups {
    flex: 0 0 59.2%;
    border-left: 1px solid $grey-default;
  }

  &-group {
    display: flex;
    width: 100%;
  }

  &-country {
    flex: 0 0 6%;
  }

  &-plantation {
    flex: 0 0 11.18%;
  }

  &-type {
    flex: 0 0 10.48%;
  }

  &-subtype {
    flex: 0 0 12.7%;
  }

  &-stemQuantity {
    flex: 0 0 18.5%;
  }

  &-stemsInPackaging {
    flex: 0 0 16.53%;
  }

  &-packagingQuantity {
    flex: 0 0 18.5%;
  }

  &-stemPrice {
    flex: 0 0 13.58%;
  }

  &-fb {
    flex: 0 0 8.85%;
  }

  &-sum {
    flex: 0 0 23.03%;
  }

  &-col {
    padding: 9px 4px;
    border-left: 1px solid $grey-default;
    line-height: 1;

    &:first-child {
      border-left: 0;
    }

    &--sortable {
      font-family: 'IBM Plex Sans', sans-serif;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    &--sorted {
      background: $grey-default;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.mat-button-toggle-group {
  margin-left: -1px;
}
