.Panel([class.Panel--hovered]='showEvent === "hover"')
  .Panel-header(
    [class.Panel-header--withIcon]='showArrow',
    (click)='toggle()')
    ng-content(select='[ddpanel-header]')
    mat-icon.Panel-icon([svgIcon]='isOpened ? "keyboard_arrow_up" : "keyboard_arrow_down"')
  .Panel-panel(*ngIf='isOpened')
    ng-content(select='[ddpanel-body]')
