@import '../../../../styles/variables';
.Panel {
  position: relative;

  &-header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &-panel {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    padding: 5px;
    min-width: 100%;
    background: $white;
    box-shadow: $panel-shadow;
    z-index: $zindex-dropdown;
  }

  &-icon {
    color: green;
  }
}

@media (max-width: 640px) {
  :host-context(.AuthPage) {
    .Panel {

      &-panel {
        min-width: calc(100vw - 30px);
      }
    }
  }
}
