.Settings
    mat-button-toggle-group.BtnToggleGroup.BtnToggleGroup--smaller
        mat-button-toggle(
            routerLink='/broker/admin/settings/basic',
            routerLinkActive="mat-button-toggle-checked"
        ) Базовые настройки
        mat-button-toggle(
            routerLink='/broker/admin/settings/cargo',
            routerLinkActive="mat-button-toggle-checked"
        ) Карго - перевозки
    router-outlet
