.TradeClosed
    .TradeClosed-loader
        mat-progress-spinner(
            color="primary",
            mode="determinate",
            [diameter]='44',
            [strokeWidth]='3',
            [value]="75")
    h1.TradeClosed-headline Торговый день закрыт
    .TradeClosed-description До открытия нового торгового дня осталось 12 ч. 48 м. 20 с.
    .TradeClosed-text
        | Пока торговый день закрыт вы можете посмотреть наши&#8194;
        a.Green новости и предложения
        | &#8194;и запланировать новые покупки.
