.mat-autocomplete-panel:not([class*=mat-elevation-z]) {
  margin-top: 10px;
  border-radius: 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.14);

  .mat-autocomplete-panel-above & {
    margin-bottom: 6px;
  }

  .mat-option {
    color: $green;
  }
}
