.B2BF {
  .mat-button-toggle-group {
    border: 0;
  }

  .mat-button-toggle-focus-overlay {
    display: none;
  }

  .mat-form-field-invalid {
    .mat-button-toggle {
      .mat-button-toggle-label-content {
        color: $red;
      }
    }

    .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
      border-left: solid 1px $red;
    }

    .mat-button-toggle-group {
      border: solid 1px $red;
    }
  }
  .mat-button-toggle {
    background-color: transparent;
    border: solid 1px $green;
    margin-right: -1px;

    &:last-child {
      margin-right: 0;
      border-radius: 0 4px 4px 0;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    .mat-button-toggle-label-content {
      color: $green;
    }
  }

  .mat-button-toggle:hover {
    background-color: transparent;
    border: solid 1px $green-light;

    .mat-button-toggle-label-content {
      color: $green-light;
    }
  }

  .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: solid 1px $green;
  }

  .mat-button-toggle-checked,
  .mat-button-toggle-checked:hover {
    background-color: $green;
    border: solid 1px $green;

    .mat-button-toggle-label-content {
      color: $white;
    }
  }
}
