.B2BF {
  .mat-button-base {
    font-size: 16px;
    font-weight: 400;
  }
   .mat-button-focus-overlay,
   .mat-button-base {
     transition: all linear 0.2s;
   }

  .mat-icon-button--square30 {
    height: 30px;
    width: 30px;
    border: 1px solid $grey-default;
    border-radius: 0;
    overflow: hidden;
  }

  .mat-stroked-icon-button { // FOR stroked button with icon
    padding: 0 7px;

    .mat-icon:first-child {
      margin-right: 5px;
    }

    .mat-icon:last-child {
      margin-left: 5px;
    }
  }

  .mat-button-base {
    &.mat-primary, &.mat-accent, &.mat-warn, &[disabled] {
      &[disabled] {
        background: $grey-dark;
        color: $white;
      }
    }
  }

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button {
    &.mat-primary, &.mat-accent, &.mat-warn, &[disabled] {
      &[disabled] {
        background: transparent;
        color: $grey-dark;
      }
    }
  }

  .mat-stroked-button {
    &.mat-primary, &.mat-accent, &.mat-warn, &[disabled] {
      &[disabled] {
        border-color: $grey-dark;
      }
    }
  }

  .mat-button-base:not([disabled]) {
    .mat-button-focus-overlay {
      opacity: 0;
    }

    &.mat-stroked-button {
      &.mat-primary {
        color: $green;
        border-color: $green;
      }
    }

    &.mat-stroked-button:hover,
    &.mat-stroked-button:active {
      &.mat-primary {
        border-color: $green-light;
      }
    }

    &.mat-button:hover,
    &.mat-button:active,
    &.mat-icon-button:hover,
    &.mat-icon-button:active,
    &.mat-stroked-button:hover,
    &.mat-stroked-button:active {
      &.mat-primary {
        color: $green-light;
      }
    }

    &.mat-flat-button:hover,
    &.mat-flat-button:active {
      &.mat-primary {
        background: $green-light;
        color: $white;
      }
    }
  }

  .mat-icon-button {
    .mat-icon {
      margin-top: -3px;
    }
  }

  .mat-icon-button--square30 {
    .mat-icon {
      margin-top: -13px;
    }
  }
}
