.B2BF {
  .mat-checkbox-frame {
    border-color: $grey-dark;
  }

  .mat-checkbox.Block + .mat-checkbox.Block {
    margin-top: 15px;
  }

  .mat-checkbox-layout {
    white-space: normal;
  }

  .mat-checkbox-inner-container {
    margin-top: 3px;
    margin-right: 12px;
  }

  .mat-checkbox-label {
    .mat-error {
      margin-left: -28px;
      font-size: 75%;
    }
  }
}
